<nav class="blue-grey darken-4">
  <div class="nav-wrapper container">
    <a href="javascript:;" routerLink="/" class="brand-logo white-text">DEV-1</a>
  </div>
</nav>
<div class="container main-content">
  <router-outlet></router-outlet>
</div>
<script>
    M.AutoInit();
</script>