<div class="row">
    <div class="card col s12 m12">
        <div class="card-content center-align">
            <button [disabled]="buttonClicked" (click)="listCompanies()" class="btn orange white-text">Get
                Companies</button>
        </div>
    </div>
</div>
<ng-template [ngIf]="buttonClicked">
    <div class="row" *ngIf="companies.length > 0">
        <div *ngFor="let company of companies" class="col s12 m4">
            <div class="card z-depth-4">
                <div class="card-content">
                    <span class="card-title">{{company.name}}</span>
                    <p>{{company.segment}}</p>
                    <div class="card-action orange-text">
                        <h5>All time standard Deviation: {{company.allTimeStandardDeviation}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="serverError">
        <div class="card col s12 m12">
            <h3 class="black-text">Server Error</h3>
        </div>
    </div>
</ng-template>